.NewTaskCompWrapper{
    /* border: solid red 2px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    
}

.leftSideInputAndTask{
    margin: 10px;
    width: 50%;
}

/* =========================right section ===================== */

.rightSideDetails{
    /* border: solid black 1px; */
    margin: 10px;
    width: 50%;
}

.RightFirstDiv{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.markDoneCont{
    display: flex;
    gap:15px;
    padding: 5px;
    margin: 7px;
}
.startIcon{
    background-color: green;
    color: green;
    font-size: 50px;
    cursor: pointer;
}
.stopicon{
    background-color: red;
    color: red;
    cursor: pointer;
}
.MarkCompButton{
    text-align: center;
   line-height: 18px;;
   font-size: 14px;
   font-weight: 500;
   display: flex;
   gap: 7px;
   width: 150px;
   cursor:pointer;
   padding: 15px;
   border-radius: 5px;
}


.taskNameInput{
    padding: 2px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color:#000000;
    margin-bottom: 10px;
}
/* .Projectdetails{
    border:solid teal 2px
} */


.taskDescription{
    width: 100%;
    border-top: 1px solid #a1a7b2;
    border-bottom: 1px solid #a1a7b2;
    font-size: 14px;
    font-weight: 500;
    color: #34393d;
    display: flex;
    gap:15px;
    padding:10px 2px
}

.TimeEstimation{
    height: 45px;
    padding:10px 2px;
    border-bottom: 1px solid #a1a7b2;
    display: flex;
    gap:20px
}

.LowerActtagDiv{
    height: 45px;
    display: flex;
    gap:20px;
    padding:10px 2px;
}