.TaskHeadContWrapper{
    /* border: solid red 2px; */
    height: 85vh;
    margin: 10px;
}
.HeadSection{
    display: flex;
    justify-content: flex-start;
    gap:10px;
    margin-bottom: 5px;
}
.HeadText{
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #34393d;
}
.LineBar{
    height: 35px;
    width: 5px;
    margin-top: 3px;
    background-color: #dddd;
}
.AssigneeSelect{
    width: 200px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #a1a7b2;
}
.IconHandle{
    border: solid #a1a7b2 2px;
}
.optionStyling{
   
    width: 100%;
    padding: 5px;
    padding: 5px;
    cursor: pointer;
    /* border: solid red 2px; */
}
.optionStyling:hover{
    background-color: #d6d8db;
    border-radius: 7px;
}
.InputOption{
    border: solid 1px #a1a7b2;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
}
.OptionFlex{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    color: #34393d;
    font-weight: 500;
}

.OptionActivator{
    position:absolute;
    top:38px;
    left: 130px;
    max-width: 400px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: solid #a1a7b2 1px;
    border-radius: 5px;
    z-index: 1000000000000;
    background-color: #ffff;
}

.FilterWrapper{
    display: flex;
    padding: 5px;
    gap:10px
}

.NewtaskDivWrapper{
    /* border : solid red 2px; */
    display: flex;
    gap:10px;
    margin: 10px;
}
.NewTaskButton{
    display: flex;
    background-color: #3070f0;
    padding: 7px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  
}
.SortDIv{
    background-color: #a1a7b2;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.SortDIv option{
    color: #4c5157;
    padding: 8px;
}
.feed{
    margin: 10px;
}